body {
    background: url("/img/bg3.jpg");
}

main {
    background-color: #ffffff;
    margin-bottom: 60px;
}

.media-left a img {
    width: 80px;
}

.media img {
    width: 60px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #666;
}

.demo-menu {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.comment-info {
    border-bottom: 1px dotted #999;
}

.comment-info i {
    cursor: pointer;
}

.sub-comments {
    border: 2px #eee solid;
    border-radius: 5px;
}

.operate {
    display: inline-block;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.show-comment {
    background: #499ef3;
    color: #fff;
}

.my-btns button:hover {
    background: #499ef3;
    color: #fff;
}

.question-rated {
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    line-height: 26px;
}