<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/zico/css/zico.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/jquery/jquery.js"></script>
    <script src="/popper/umd/popper.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>

<!--    <link rel="stylesheet" href="/css/demo.css">-->
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<main class="container">
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jumbotron">
                    <h1 class="display-3">出错啦！！！</h1>
                    <p class="lead">休息一会儿吧……</p>
                    <hr class="my-4">
                    <p th:text="${message}">还没找到原因</p>
                    <p class="lead">
                        <a class="btn btn-danger btn-lg" href="/" role="button">回到主页</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>